.workContainer {
  transform: translateY(200px);
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  z-index: 5;
  background-color: var(--background-color);
  padding: 6rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.workGallery {
  display: flex;
  flex-direction: column;
  gap: 15rem;
}

.workGalleryTop,
.workGalleryBottom {
  display: flex;
  gap: 6rem;
}

.selectedWork {
  font-size: clamp(1.4rem, 2vw, 2rem);
  /* font-weight: 700; */
  color: var(--text-color-dark);
  /* padding-bottom: 10rem; */
}

.largeImageContainer {
  object-fit: cover;
  width: calc((100vw - 18rem) / 2);
  height: calc((100vw - 18rem) / 2);
  position: relative;
}

.smallImageContainer {
  object-fit: cover;
  width: calc((100vw - 18rem) / 2);
  height: calc((100vw - 18rem) / 2 * 0.65);
  position: relative;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  color: var(--text-color-dark);
}

.tags {
  display: flex;
  gap: 0.5rem;
}

.title {
  font-size: 2rem;
  /* font-weight: 700; */
}

.tags li {
  font-size: clamp(1.4rem,1.5vw, 2rem);
  list-style: none;
  border: 1px solid var(--text-color-dark);
  border-radius: 5rem;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.875rem;
}

.description {
  font-size: clamp(1.4rem,1.5vw, 2rem);
  padding-top: 1rem;
  width: 65%;
  color: var(--text-color-dark);
}

.workCard {
}

.moreWork {
  display: none;
  font-size: 2rem;
  /* padding: 3rem 8rem; */
  width: 26rem;
  height: 9rem;
  border-radius: 5rem;
  border: 1px solid var(--text-color);
  transition: border 0.8s;
  align-self: center;
  position: relative;
  z-index: 2;
}

.moreWork span{
  position:absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  color: var(--text-color-dark);
}

.moreWork:hover {
  border: 1px solid var(--background-color);
  
}

.button {
}

.bounds {
  position: absolute;

  left: 0;

  top: 0;

  width: 100%;

  height: 100%;

  pointer-events: all;
  /* border: 1px solid red; */
  border-radius: 5rem;
  z-index: 0;
}

.bounds:hover{
    transform: scale(3);
}

.moreWork:hover span{
  animation: letterroll cubic-bezier(.4,0,.2,1) 0.3s;
  /* transform: translateX(-50%); */
}

@keyframes letterroll {
  50% {
    transform: translate(-50%, -75%);
    opacity: 0;
  }
  50.1% {
    transform: translate(-50%, 75%);
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
@media (max-width: 1024px){

}

@media (max-width: 768px){
  .workGalleryTop,
  .workGalleryBottom {
    flex-direction: column;
  }

  .workGallery {
    display: flex;
    flex-direction: column;
    gap: 6rem;
  }
}

@media (max-width: 430px){
    
}