.workPageContainer{
    height: auto;
    width: 100%;
    border-radius:0 0 5rem 5rem;
    background-color: var(--background-color-light);
    z-index: 5;
    position: relative;
    padding: 5% 10%;
}

.workContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    justify-content: center;
    row-gap: 5rem;
    column-gap: 5rem;
    margin: 5rem 0;
}

@media (max-width: 430px){
    .workContainer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: start;
        justify-content: center;
        row-gap: 5rem;
        column-gap: 5rem;
        margin-top: 5rem;
    }
  }