.conContainer{
    position: relative;
    background-color: var(--background-color);
    padding: 10% 15%;
    display: flex;
    gap: 3rem;
    height: 75rem;
    border-radius: 0 0 5rem 5rem;
}

.leftContainer{
    flex: 0.7;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 100%;
}

.rightContainer{
    flex: 0.3;
    border: 2px solid var(--border-alpha-invert);
    border-radius: 5rem;
    padding: 3% 3%;
}

.left{
    flex: 1;
    border: 2px solid var(--border-alpha-invert);
    border-radius: 5rem;
    padding: 3% 3%;
}

.conContainer span{
    font-size: 1.4rem;
    color: var(--border-alpha-invert);
}

