

.analyzeContainer{
    height: auto;
    margin: -100vh 5% 10rem 5%;
    position: relative;
    z-index: 5;
}

.processContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10rem;
    gap: 2rem;
}

.processContainerReverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 10rem;
    gap: 2rem;
  }

  .processContainerReverse .textContainer{
    margin-left: 3rem;
}

.processContainerReverse .textContainer p{
    padding-right: 0;
}


.textContainer{
    align-self: flex-start;
    flex: 0.3;
    color: var(--background-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: sticky;
    top: 10rem;
    /* top: 0; */
    /* border: 1px solid red; */
}

.textContainer span{
    font-size: clamp(1rem, 1.2vw, 1.4rem);
    color: var(--unimportantText-color);
}

.textContainer h2{
    font-size: clamp(1.6rem, 2vw, 2.4rem);
    font-weight: 500;
}

.textContainer p{
    font-size: clamp(1.2rem, 1.4vw, 1.6rem);
    padding-right: 0%;
}

.imageContainer{
    display: flex;
    flex: 0.7;
    position: relative;
    /* width: ; */
    /* height: 100%; */
    /* height: max-content; */
}

.image{
    margin-left: auto;
    width: 100%;
    height: auto;
}

@media (max-width:1024px){
    .processContainer{
        flex-direction: column;
        margin-top: 0rem;
    }

    .imageContainer{
        display: flex;
        flex: 1;
        position: relative;
    }

    .image{
        margin-top: 15rem;
        margin-left: auto;
        margin-right: auto;
    }

    .textContainer{
        align-self: flex-start;
        flex: 1;
        color: var(--background-color);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: relative;
        top: 10rem;
        /* top: 0; */
        /* border: 1px solid red; */
    }
}