:root{
  --max-width: 1100px;
  --border-radius: 5rem;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --primary-color: #EC643C;
  --background-color: #F9F5EC;
  --text-color: #344C36;
  --text-color-dark: #010E02;
  --text-color-bright: #F5EFE1;
  --underline-color: #000;
  --background-color-invert:#344C36;
  --unimportantText-color:rgba(249, 245, 236, 0.75);
  --border-alpha: rgba(249, 245, 236, 0.5);
  --grid-color: rgba(249, 245, 236, 0.1);
  --border-alpha-invert: rgba(10, 38, 13, 0.5);
  --border-alpha-invert-light: rgba(10, 38, 13, 0.25);
  --highlight-color:rgba(235, 255, 0, 0.25);
  --Bebas-Neue: Bebas Neue;

    /* Define text and background colors */
    --foreground-rgb: 0, 0, 0; /* Default text color */
    --background-start-rgb: 255, 255, 255; /* Default background color (start) */
    --background-end-rgb: 255, 255, 255; /* Default background color (end) */
}

@media (prefers-color-scheme: dark) {
  :root {
    --unimportantText-color:rgba(52, 76, 54, 0.75);
    --background-color: #344C36;
    --text-color: #F9F5EC;
    --underline-color: #fff;
    --background-color-invert:#F9F5EC;
    --text-color-bright: #344C36;
    --text-color-dark: #F9F5EC;
    /* Update background color for dark theme */
    --background-start-rgb: 30, 30, 30; /* Dark background color (start) */
    --background-end-rgb: 30, 30, 30; /* Dark background color (end) */
    --foreground-rgb: 255, 255, 255; /* Dark text color */
    --border-alpha: rgba(0, 0, 0, 0.2);
    --border-alpha-invert: rgba(249, 245, 236, 0.5);
    --border-alpha-invert-light: rgba(249, 245, 236, 0.25);
    --highlight-color:rgba(235, 255, 0, 0.25);
    --grid-color:rgba(10, 38, 13, 0.1);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  max-width: 100vw;
  font-size: 62.5%;
  /* cursor: none; */
  /* overflow-x: hidden; */
}

body {
  color: var(--text-color);
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-color: var(--background-color);
  transition: all 0.5s ease-in;
}

.dark-mode-for-light{
  --unimportantText-color:rgba(52, 76, 54, 0.75);
  --unimportantText-invert:rgba(249, 245, 236, 0.75);
    --background-color: #344C36;
    --text-color: #F9F5EC;
    --underline-color: #fff;
    --background-color-invert:#F9F5EC;
    --text-color-bright: #344C36;
    --text-color-dark: #F9F5EC;
    /* Update background color for dark theme */
    --background-start-rgb: 30, 30, 30; /* Dark background color (start) */
    --background-end-rgb: 30, 30, 30; /* Dark background color (end) */
    --foreground-rgb: 255, 255, 255; /* Dark text color */
    --border-alpha: rgba(0, 0, 0, 0.2);
    --border-alpha-invert: rgba(249, 245, 236, 0.5);
    --border-alpha-invert-light: rgba(249, 245, 236, 0.25);
    --highlight-color:rgba(235, 255, 0, 0.25);
    --grid-color:rgba(10, 38, 13, 0.1);
}

.light-mode-for-dark{
  --primary-color: #EC643C;
  --background-color: #F9F5EC;
  --text-color: #344C36;
  --text-color-dark: #010E02;
  --text-color-bright: #F5EFE1;
  --underline-color: #000;
  --background-color-invert:#344C36;
  --unimportantText-color:rgba(249, 245, 236, 0.75);
  --border-alpha: rgba(249, 245, 236, 0.5);
  --grid-color: rgba(249, 245, 236, 0.1);
  --border-alpha-invert: rgba(10, 38, 13, 0.5);
  --border-alpha-invert-light: rgba(10, 38, 13, 0.25);
  --highlight-color:rgba(235, 255, 0, 0.25);
  --unimportantText-invert:rgba(52, 76, 54, 0.75);
}

.custom-cursor{
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--text-color-bright); */
  background-color: white;
}

.cursor-text{
  color: black;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 3.5px;
  display: none;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button{
  cursor: pointer;
}

h1{
  /* font-size: 4.8rem; */
  font-size: clamp(3.2rem,4vw, 4.8rem);
  font-weight: 400;
}

p{
  font-size: clamp(1.6rem,1.5vw, 2rem);
  line-height: 150%;
}

span{
  color: var(--border-alpha-invert);
    font-size: clamp(1rem, 1.2vw, 1.4rem);
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

@media (hover: none) {
  .custom-cursor{
    display: none;
  }
  
  .cursor-text{
    display: none;
  }
}

.preloader{
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  /* top: 0; */
  cursor: wait;
  background-color: var(--text-color);
  color: var(--background-color);
  z-index: 9999;
  border-radius: 5rem 5rem 0 0 ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader p{
  font-size: clamp(2rem, 2.6vw, 3.2rem);
}

.landing-preloader{
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  /* top: 0; */
  cursor: wait;
  background-color: var(--text-color);
  color: var(--background-color);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

