.main{
  position: relative;
  overflow: clip;
  width: 100%;
  height: 100%;
  background-color: var(--background-color-light);
}

@media (max-width: 430px){
  .main{
    /* overflow-x: auto; */
  }
}