.sideNavContainer{
    height: 100%;
    /* width: 100%; */
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
    /* background-color: white; */
    /* transition: opacity 0.5s cubic-bezier(0,.4,.2,1); */
    opacity: 1;
    overflow: hidden;

    /* background-color: white; */
    /* transition: all 0.5s linear; */
}

.sideNavWrapper{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #000;
    opacity: 0;
}

.innerContainer{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    height: 100%;
    width: 0%;
    background-color: var(--background-color-light);
    opacity: 1;
}

.sideNav_navigationContainer{
    width: 100%;
    height: 100%;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20% 15%;
}

.sideNav_navigationContainer span{
    font-size: clamp(1rem,1.2vw, 1.2rem);
    padding-left: 2.5rem;
    color: var(--text-color-dark-opacity);
}

.sideNav_divider{
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 2.5rem;
    width: 90%;
    height: 1px;
    background-color: var(--text-color-dark-opacity);
}


.sideNav_navigationContainer li{
    font-size: 4.8rem;
    list-style: none;
    margin-bottom: 3rem;
}

.sideNav_navigationContainer li span{
    font-size: clamp(2.4rem, 4vw, 4.8rem);
    margin-bottom: 3rem;
    color: var(--text-color);
    position: relative;
    padding: 2.5rem 2.5rem;
    border-radius: 5rem;
    /* border: 1px solid red; */
}

.sideNav_navigationContainer li a{
    position: relative;
    /* padding: 1rem 1.5rem; */
    /* border-radius: 5rem; */
    /* border: 1px solid red; */
}

.sideNavSocials{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sideNavSocials a{
    font-size: clamp(1.4rem, 2rem, 2rem);
    position: relative;
    padding: 1rem 1rem;
    border-radius: 5rem;
    margin-left: 1.5rem;
    /* border: 1px solid red; */
}

.sideNavBounds{
    position: absolute;
  
    left: 0;
  
    top: 0;
  
    width: 100%;
  
    height: 100%;
  
    pointer-events: all;
    border-radius: 5rem;
    /* border: 1px solid red; */
}

.sideNavBounds:hover{
    transform: scale(3);
}

@media (max-width: 1024px){

}

@media (max-width: 768px){
    
}

@media (max-width: 430px){
    .sideNavSocials a{
        font-size: 1.4rem;
        position: relative;
        padding: 1rem 0rem;
        border-radius: 5rem;
        margin-left: 2.5rem;
        /* border: 1px solid red; */
    }
    .sideNav_navigationContainer{
        width: 100%;
        height: 100%;
        color: var(--text-color);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40% 15% 20% 15%;
    }
    .sideNav_navigationContainer li{
        font-size: 4.8rem;
        list-style: none;
        margin-bottom: 0rem;
    }
}